.heading{
    display: flex;
}

.heading > *{
    flex-basis: 100%;
}

.heading :nth-child(2){
    text-align: right;
}

.heading h2{
    margin-bottom: 10px;
}

.Review{
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.container{
    background-color: #f0eeee;
    min-height: 100vh;
    padding: 20px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}